{% extends 'layout.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title> Комментарии</title>
</head>
<body>

	<div class="container">
      <!-- Example row of columns -->
      <div class="row">
       	<br>
       	<br>
       	<br>
       	<br>
        <div class="col-lg-12">
        	<div id="disqus_thread"></div>
				<script>

					(function() { // DON'T EDIT BELOW THIS LINE
					var d = document, s = d.createElement('script');
					s.src = 'https://EXAMPLE.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
					})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				                            



        	</div>	
        </div>
      </div>

    </div>    	
        

</body>
</html>

{% endblock %}