{% extends 'layout.html' %}
{% block content %}

	<div class="jumbotron">
      <div class="container">
        
        <h1>Добро пожаловать на портал!</h1>
        <!-- <p>В этом приложении вы можете сообщить о проблемах</p> -->
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Подробнее &raquo;</a></p> -->
      </div>
    </div>
 	
 	<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
              <h2>Компьютерная и оргтехника</h2>
            <div style='color: #0086ab'>
              <p>Чтобы добавить компьютерную и оргтехнику в базу данных, перейдите по ссылке ниже. </p>
              <p><a class="btn btn-default" href="/admin" role="button">Продолжить &raquo;</a></p>
            </div>
        </div>

        <div class="col-md-4">
          <h2>Закупка материалов</h2>
          <div style='color: #0086ab'>
            
              <p>Чтобы отправить заявку на закупку материала, перейдите по ссылке ниже.</p>
              <p><a class="btn btn-default" href="" role="button">Отправить заявку &raquo;</a></p>
            
          </div>
       </div>
        <div class="col-md-4">
          <h2>Заявки на ремонт пк</h2>
            <div style='color: #0086ab'>
              <p>Чтобы отправить заявку на ремонт и обслуживание компьютерного оборудования, перейдите по ссылке ниже.</p>
              <p><a class="btn btn-default" href="/add_list" role="button">Отправить заявку &raquo;</a></p>
             </div> 
        </div>
        
        <div class="col-md-4">
          <h2>Комментарии</h2>
            <div style='color: #0086ab'>
              <p>Чтобы отправить заявку на ремонт и обслуживание компьютерного оборудования, перейдите по ссылке ниже.</p>
              <p><a class="btn btn-default" href="/add_list" role="button">Отправить заявку &raquo;</a></p>
             </div> 
        </div>
        
        <div class="col-md-4">
          <h2>Просмотр данных</h2>
            <div style='color: #0086ab'>
              <p>Чтобы посмотреть данные о компьютерной и оргтехники, перейдите по ссылке ниже. </p>
              <p><a class="btn btn-default" href="/zayavki/" role="button">Продолжить &raquo;</a></p>
            </div>  
        </div>
        
      </div>
    </div>
    
{% endblock %}